<p id="notice"><%= notice %></p>

<h2 align= "center">
  <strong> Select Academic Year</strong>
</h2> 

<div class="well col-xs-10 col-xs-offset-5 center custom-select" style="width:200px;" >
	<div class="dropdown">
    	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Year
    	<span class="caret"></span></button>
    	<ul class="dropdown-menu">

		 <% current_user.school.years.sort_by(&:number).each do | year | %>
		    <li>
		    	<%= link_to year.number, year %>
		    </li> 
		  <% end %>
		</ul>

	</div>


		<br>

		<div class= "article-actions center">
			<%= link_to 'New Student', new_student_path, class: "subbtn" %>
			<%= link_to "New Year", increase_years_path(@year_number), class: "subbtn"%>
		</div>
</div>
 
